<div class="donations-wrapper">
  <div class="donations-table">
    <table>
        <tr>
        <th>Item</th>
        <th>Access</th>
        <th>Created On</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor = "let donation of donations">
        <td><a routerLink = "/donation/{{donation._id}}">{{donation.title}}</a></td>
        <td>{{donation.access}}</td>
        <td>{{donation.createdOn | date:'medium'}}</td>
        <td class="action-buttons">
          <span (click) = "deleteDonation(donation._id)">delete</span>
          <span><a routerLink = "/donation/{{donation._id}}">view</a></span>
        </td>
      </tr>
      <tr *ngIf = "donations.length === 0">
        <td colspan="4">No records found</td>
      </tr>
    </table>
  </div>
</div>